@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


:root {
  --primary-color-red-400: hsl(7, 99%, 70%);
  --primary-color-yellow-500: hsl(51, 100%, 49%);
  --primary-color-green-800: hsl(167, 40%, 24%);
  --primary-color-blue-800: hsl(198, 62%, 26%);
  --primary-color-green-500: hsl(167, 34%, 41%);

  --neutral-color-grey-950: hsl(212, 27%, 19%);
  --neutral-color-grey-600: hsl(213, 9%, 39%);
  --neutral-color-grey-550: hsl(232, 10%, 55%);
  --neutral-color-grey-400: hsl(210, 4%, 67%);
  --neutral-color-white: hsl(0, 100%, 100%);
}